<div class="container-form">
  <%= form_for(@article) do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control' %>
    </div>

    <div class="sub">
      <%= f.submit :Create, class: 'btn btn-dark' %>
      <% end %>
      <%= link_to articles_path do %>
      <button class="btn btn-light">Back to list</button>
    <% end %>
  </div>
</div>